@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,300&display=swap');
body {
	background-color: #03101e;
	font-family: 'Barlow Condensed', sans-serif;
}
.message {
	color: white; 
	font-size: 300%;
}
.logo {
	width: 100%;
	height: auto;
}
/* This media query is for screen sizes greater than those on mobile devices */
@media screen and (min-width: 640px){
	.logo {
		width: 55%;
		height: auto;
	}
}
.main-contents {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}