.error.message h1 {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 64px;
    color: var(--accent);
    font-weight: bold;
    text-shadow: var(--accent-drop-shadow);
}

.error.message h2 {
    color: var(--slightly-muted);
    font-family: 'Barlow', sans-serif;
    font-size: 22px;
    margin-bottom: 30px;
}