@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400&display=swap');

/* ELEMENTS */

body {
    background: linear-gradient(48.1deg, #00152D 0%, #3E0015 100%);
    color: rgba(255, 255, 255, 80%);
    --accent: rgba(255, 0, 84, 100%);
    --slightly-muted-accent: rgba(255, 0, 84, 60%);
    --accent-drop-shadow: 0px 0px 30px rgba(255, 0, 84, 0.5);
    --muted: rgba(255, 255, 255, 40%);
    --slightly-muted: rgba(255, 255, 255, 40%);
    --copyright: rgba(91, 91, 91, 100%);
    --footer: rgba(0, 0, 0, 30%);
    --footer-shadow: rgba(0, 0, 0, 25%);

    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
    display: none;
}

header {
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    animation: fade-down 1s;
}

main {
    flex-grow: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    animation: fade-in 1s;
}

footer {
    width: 100vw;
    text-align: center;
    background-color: var(--footer);
    box-shadow: var(--footer-shadow);
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 100px;
}

header li {
    display: inline;
}

a {
    color: var(--muted);
    transition: 0.15s;
}

a:hover {
    color: white;
    text-shadow: 0 0 20px var(--slightly-muted);
}

a:active {
    color: var(--accent);
    transition: 0.15s;
    text-shadow: 0 0 20px var(--slightly-muted-accent);
}

/* CLASSES */

.logo {
    min-width: 304px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.header-nav-container {
    display: flex;
}

.header-navigation {
    margin-right: 20px;
}

.header-navigation li {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 20px;
}

.header-socials li {
    padding: 0 10px;
}

.message {
    text-align: center;
    max-width: 600px;
}

.footer-columns {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.footer-columns h2 {
    color: var(--accent);
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 100px;
}

.footer-columns li {
    margin: 20px 0;
    font-size: 12px;
    margin-left: 100px;
    margin-right: 100px;
}

.copyright {
    color: var(--copyright);
    font-size: 10px;
}

/* ANIMATIONS */

@keyframes fade-down {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}