@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400&display=swap');
/* ELEMENTS */

body {
    background: linear-gradient(48.1deg, #00152D 0%, #3E0015 100%);
    color: rgba(255, 255, 255, 80%);
    --accent: rgba(255, 0, 84, 100%);
    --accent-drop-shadow: 0px 0px 30px rgba(255, 0, 84, 0.5);
    --muted: rgba(255, 255, 255, 40%);
    --copyright: rgba(91, 91, 91, 100%);
    --footer: rgba(0, 0, 0, 30%);
    --footer-shadow: rgba(0, 0, 0, 25%);

    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

header {
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main {
    flex-grow: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100vw;
    text-align: center;
    background-color: var(--footer);
    box-shadow: var(--footer-shadow);
    padding-top: 50px;
    padding-bottom: 30px;
}

header li {
    display: inline;
}

a {
    color: var(--muted);
    transition: 0.15s;
}

a:hover {
    color: white;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

a:active {
    color: var(--accent);
    transition: 0.15s;
    text-shadow: 0 0 20px rgba(255, 0, 84, 0.6);
}

/* CLASSES */

.logo {
    min-width: 304px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.header-nav-container {
    display: flex;
}

.header-navigation {
    margin-right: 20px;
}

.header-navigation li {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 20px;
}

.header-socials li {
    padding: 0 10px;
}

.message {
    text-align: center;
    max-width: 600px;
}

.welcome {
    margin: 200px 0;
}

.welcome img {
    max-width: 149px;
    filter: drop-shadow(var(--accent-drop-shadow));
    margin-bottom: 30px;
}

.welcome h1 {
    font-style: italic;
    font-weight: 500;
    font-size: 28px;
}

.game-card {
    --rounded-edge: 20px;
    display: flex;
    border-radius: var(--rounded-edge);
    max-width: 800px;
    margin: 40px auto;
    background: linear-gradient(96.39deg, rgba(0, 29, 72, 0.5) 27.05%, rgba(0, 0, 0, 0.5) 100%);
    box-shadow: 0px 22px 94px -19px rgba(0, 0, 0, 0.5);
    align-items: center;
}

.game-card img {
    max-width: 250px;
    border-top-left-radius: var(--rounded-edge);
    border-bottom-left-radius: var(--rounded-edge);

}

.game-card .preview {
    padding: 50px;
}

.game-card .title {
    display: flex;
    align-items: baseline;
}

.game-card h2 {
    color: white;
    font-family: 'Barlow', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 10px;
}

.game-card .status {
    color: var(--accent);
    text-transform: uppercase;
    font-style: italic;
}

.game-card p {
    color: var(--muted);
    font-family: 'Barlow', sans-serif;
    line-height: 190%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.game-links {
    display: flex;
}

.game-card a:first-of-type {
    margin-left: 0;
}

.game-card a {
    color: var(--accent);
    background-color: rgba(255, 0, 85, 10%);
    border: 1.5px solid var(--accent);
    border-radius: 40px;

    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;

    padding: 6px 20px;
    margin: 0 10px;
    transition: 0.1s;
    text-decoration: none;
}

.game-card a:hover {
    color: black;
    background-color: var(--accent);
    border: 1.5px solid var(--accent);
    font-weight: 800;
}

.game-card a:active {
    color: black;
    background-color: white;
    border: 1.5px solid white;
    font-weight: 800;
}

.footer-columns {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.footer-columns h2 {
    color: var(--accent);
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 100px;
}

.footer-columns li {
    margin: 20px 0;
    font-size: 12px;
    margin-left: 100px;
    margin-right: 100px;
}

.copyright {
    color: var(--copyright);
    font-size: 10px;
}
