{% macro renderNav(class="", displayType="name", links, opensInNewTab=false) %}
<nav {% if class %} class="{{ class }}" {% endif %}>
    <ul>
        {%- for link in links -%}
            <li>
                <a {% if opensInNewTab %} target="_blank" {% endif %} href="{{ link.href }}"">
                    {%- if displayType == "icon" -%}
                    <i class="fa-lg {{ link.iconClass }}"></i>
                    {%- else -%}
                    {{ link.name }}
                    {%- endif -%}
                </a>
            </li>
        {%- endfor -%}
    </ul>
</nav>
{% endmacro %}

{% macro renderGameCard(title, status, description, thumbnail) %}
<div class="game-card">
    <img src="{{ thumbnail }}" alt="{{ title }}">
    <div class="preview">
        <div class="title">
            <h2>{{ title }}</h2>
            <span class="status">{{ status }}</span>
        </div>
        <p>{{ description }}</p>
        <div>
            <a href="">Press Kit</a>
            <a href="">Full Website</a>
            <a href="">Buy</a>
        </div>
    </div>
</div>
{% endmacro %}